* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
canvas {
  /* background: lightblue; */
  display: flex;
  margin: auto;
  width: 100%;
}

.keyboardArrow img {
  display: flex;
  margin: auto;
  width: 10%;
}
